@font-face {
    font-weight: 400;
    font-family: "Lato";
    font-style: normal;
    src: url("../assets/fonts/Lato-Regular.woff2") format("woff2"),
        url("../assets/fonts/Lato-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: "Lato";
    font-style: normal;
    src: url("../assets/fonts/Lato-Medium.woff2") format("woff2"),
        url("../assets/fonts/Lato-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-family: "Lato";
    font-style: normal;
    src: url("../assets/fonts/Lato-Bold.woff2") format("woff2"),
        url("../assets/fonts/Lato-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 300;
    font-family: "Manrope";
    font-style: normal;
    src: url("../assets/fonts/manrope-v13-latin_cyrillic-300.woff2") format("woff2"),
        url("../assets/fonts/manrope-v13-latin_cyrillic-300.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: "Manrope";
    font-style: normal;
    src: url("../assets/fonts/manrope-v13-latin_cyrillic-regular.woff2") format("woff2"),
        url("../assets/fonts/manrope-v13-latin_cyrillic-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: "Manrope";
    font-style: normal;
    src: url("../assets/fonts/manrope-v13-latin_cyrillic-500.woff2") format("woff2"),
        url("../assets/fonts/manrope-v13-latin_cyrillic-500.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 600;
    font-family: "Manrope";
    font-style: normal;
    src: url("../assets/fonts/manrope-v13-latin_cyrillic-600.woff2") format("woff2"),
        url("../assets/fonts/manrope-v13-latin_cyrillic-600.woff") format("woff");
    font-display: swap;
}
