@import "breakpoints";

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1 0 auto;
}


// .container{
//     max-width: 1274px;
//     margin: 0 auto;
//     padding: 0 10px;

//     @include tablet{
//         padding: 0 34px;
//     }

//     @include mobile{
//         padding: 0 22px;
//     }
// }

// .container-fluid{
//     max-width: 1932px;
//     margin: 0 auto;
//     padding: 0 10px;
// }

.container{
    width: 100%;
    max-width: 1920px;
}