// transitions
$transition-slower:          0.5s;
$transition-slow:            0.35s;
$transition-normal:          0.25s;
$transition-medium:          0.15s;
$transition-fast:            0.1s;

// hovers
$transition-on:        $transition-normal;
$transition-off:       $transition-slower;

// fonts
$font-family-manrope:        "Manrope", sans-serif;
$font-family-lato:         "Lato", sans-serif;

//colors
$default: #000;
$blue: #59a5ff;
$gray:  rgba(0, 0, 0, 0.6);

//z-index
$z-top:1000;
$z-bottom:100;