section.look    
    .look__container 
        .look__mb-30
            .look__title.h2    
                |Посмотрите на идеальное качество наших работ
        .look__wrap     
            .swiper.look__swiper.swiper-js    
                .swiper-wrapper.look__swiper-wrapper 
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/1.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/2.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/3.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/4.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/5.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/1.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/2.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/3.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/4.png", alt="")
                    .swiper-slide.look__swiper-slide 
                        img.look__slide-img(src="../assets/img/look/5.png", alt="")
            .swiper-nav-prev
                img.nav-img(src="../assets/img/slider/Arrow.svg", alt="")
            .swiper-nav-next
                img.nav-img(src="../assets/img/slider/Arrow.svg", alt="")
