section.getin 
    .getin__container
        .getin__mb-41
            h2.getin__title.h2
                | Подключитесь к партнерской программе всего за 3 клика
        .getin__wrap 
            .getin__card 
                img.getin__img(src="../assets/img/getin/1.png", alt="")
                .getin__card-body
                    .getin__mb-10
                        .getin__card-title.title-manrope  
                            |Онлайн регистрация
                    .getin__mb-auto
                        .getin__card-text.text-manrope-15
                            |Нет необходимости приезжать в офис 
                            |и подписывать кучу бумаг. Договор оферты 
                            |заключается автоматически при регистрации
                    .getin__mb-10.getin__mb-10--mob
                        span.getin__card-text.text-manrope-15 
                            | Но вы можете приехать и
                    a.btn-blue.js-popup-link(href="#popup_7")
                        .btn-blue__text 
                            |Посмотреть как мы работаем
            .getin__card.getin__card--mob 
                img.getin__img(src="../assets/img/getin/2.png", alt="")
                .getin__card-body.getin__card-body--mob
                    .getin__mb-10
                        .getin__card-title.title-manrope  
                            |Поддержка 24/7
                    .getin__mb-auto
                        .getin__card-text.text-manrope-15
                            |Личный менеджер в любое время готов 
                            |помочь вам и ответить на любые ваши вопросы
                    a.btn-blue.js-popup-link(href="#popup_5")
                        .btn-blue__text 
                            |Стать партнером
            .getin__card.getin__card--mob  
                img.getin__img(src="../assets/img/getin/3.png", alt="")
                .getin__card-body.getin__card-body--mob
                    .getin__mb-10
                        .getin__card-title.title-manrope  
                            |Понятные расчеты
                    .getin__mb-auto
                        .getin__card-text.text-manrope-15
                            |Фиксированная ставка с первого дня партнерства 
                            |от итоговой суммы по договору с клиентом, 
                            |без вычетов на издержки
                    a.btn-blue.js-popup-link(href="#popup_5")
                        .btn-blue__text 
                            |Стать партнером