section.clarity 
    .clarity__container 
        .clarity__mb-12
            h2.clarity__title.h2
                | Полная прозрачность в партнерстве
        .clarity__mb-44
            .clarity__subtitle.title-lato-25
                | вы всегда видите, на каком этапе принятия решения находится ваш клиент
        .clarity__wrap 
            .clarity__box
                .clarity__item 
                    img.clarity__img-icon(src="../assets/img/clarity/clarity-1.svg", alt="")
                    p.clarity__text.clarity__text_width.text-manrope-18
                        | Личный кабинет синхронизируется с CRM-системой. 
                        |#[span(class="fw-600") Вы видите каждый шаг] 
                        |своего клиента и сумму по договору
                .clarity__item 
                    img.clarity__img-icon(src="../assets/img/clarity/clarity-2.svg", alt="")
                    p.clarity__text.text-manrope-18
                        | Ваша заявка мгновенно поступает в работу менеджера и 
                        |#[span(class="fw-600") уже через 15 минут]
                        |присваивается первый статус клиенту
                .clarity__item.clarity__item--pd
                    img.clarity__img-icon(src="../assets/img/clarity/clarity-3.svg", alt="")
                    p.clarity__text.text-manrope-18
                        | Статус в личном кабинете 
                        |#[span(class="fw-600") меняется автоматически,]
                        | при изменении его менеджером в CRM
            img.clarity__img(src="../assets/img/clarity/Rectangle 4.jpg", alt="")
        +btn("btn_big clarity__btn js-popup-link", "Стать партнером", "#popup_6")