.cycle {
    padding: 3.07em 20.52em 2.7em;
    background: $white;

    @include tablet {
        padding: 3em 18.43em 4.37em;
    }

    @include mobile {
        padding: 6.7vw 5.89vw 14.74vw;
    }

    &__container {
        max-width: 1132px;
        margin: 0 auto;
    }

    &--mb-10 {
        margin-bottom: 0.52em;

        @include tablet {
            margin-bottom: 1em;
        }

        @include mobile {
            width: 80.42vw;
            margin-bottom: 5.89vw;
            margin-left: 4.2vw;
        }
    }

    &__title {
        @include tablet {
            text-align: left;
        }

        @include mobile {
            text-align: left;
        }
    }

    &--mb-29 {
        margin-bottom: 1.51em;
        text-align: center;

        @include tablet {
            margin-bottom: 2.6em;
        }

        @include mobile {
            margin-bottom: 2.41vw;
            margin-left: 4.3vw;
            text-align: left;
        }
    }

    &__subtitle {

        @include tablet {
            text-align-last: left;
        }

        @include mobile {
            font-size: 5.362vw;
        }
    }

    &__wrap {
        display: flex;
        padding: 2.03em 9.94em 1.4em 2.03em;
        column-gap: 2.5em;
        background: $bg;

        @include tablet {
            flex-direction: column;
            padding: 1.7em 6.45em 3.22em 3.75em;
        }

        @include mobile {
            flex-direction: column;
            padding: 2.68vw 3.75vw 5.63vw;
        }
    }

    &__img {
        width: 18.07em;
        height: 19.11em;

        @include tablet {
            width: 28.43em;
            height: 30.1em;
            margin-bottom: 1.7em;
        }

        @include mobile {
            width: 80.96vw;
            height: 85.79vw;
            margin-bottom: 0;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__img-quote {
        width: 26.61em;
        height: 4.06em;
        margin-bottom: 1.14em;
        margin-left: -1.7em;
        background: url("../assets/img//cycle/cycle-quote.png") no-repeat;
        background-size: cover;

        @include tablet {
            width: 53.23em;
            height: 8.12em;
            margin-bottom: 2.29em;
            margin-left: -2.7em;
        }

        @include mobile {
            width: 77.212vw;
            height: 30.295vw;
            margin-top: -13.5vw;
            margin-bottom: 6vw;
            margin-left: 0vw;
            background: url("../assets/img/cycle/quote-mobile-576w.png")
                no-repeat;
            background-size: cover;
        }
    }

    &--mb-47 {
        width: 26.35em;
        margin-bottom: 2.44em;

        @include tablet {
            width: 52.7em;
            margin-bottom: 3.54em;
        }

        @include mobile {
            width: 82.3vw;
            margin-bottom: 4.021vw;
        }
    }

    &__text--mb-10 {
        margin-bottom: 0.6em;

        @include mobile {
            margin-bottom: 2.68vw;
        }
    }

    &--mb-36 {
        margin-bottom: 1.87em;

        @include tablet {
            margin-bottom: 1.87em;
        }

        @include mobile {
            margin-bottom: 7.24vw;
        }
    }

    &__text {
        display: flex;
        align-items: end;
        column-gap: 0.36em;

        @include tablet {
            column-gap: 0.72em;
        }

        @include mobile {
            flex-direction: column;
            align-items: start;
            font-size: 4.02vw;
            column-gap: 0;
        }
    }
}
