section.cycle 
    .cycle__container
        .cycle--mb-10
            h2.cycle__title.h2
                |Ведем весь цикл переговоров с клиентом самостоятельно
        .cycle--mb-29
            .cycle__subtitle.title-lato-25
                | вам не нужно ничего продавать
        .cycle__wrap 
            img.cycle__img(src="../assets/img/cycle/cycle-main.png", alt="")
            .cycle__box
                .cycle__img-quote
                .cycle--mb-47
                    p.cycle__text.cycle__text--mb-10.text-manrope-16 
                        |Каждая заявка тщательно обрабатывается нашими операторами; мы также, как и вы, заинтересованы заключить договор 
                    p.cycle__text.text-manrope-16 
                        |Статус в личном кабинете меняется автоматически, при изменении его менеджером в CRM-системе
                .cycle--mb-36
                    p.cycle__text
                        | #[span(class="title-lato-20 ") Тамара БЕЛОВА,]
                        | #[span(class="text-manrope-15") руководитель call-центра]
                +btn("btn_big", "Стать партнером", "#")