section.promo
    .promo__box
        h1.promo__title
            | Innovative #[br] DeFi & NFT Venture Studio
        .promo__cover 
            img.promo__img.bounce-1(src="../assets/img/promo/Group 469.png", alt="circle" width="260" height="260")
        img.promo__bg(src="../assets/img/net.svg", alt="")
    .promo__box
        a.promo__link(href="#about")  
            span.promo__link-title Read More 
        a.promo__link-to(href="#about")
            img.promo__img-to(src="../assets/img/promo/Group 467.svg", alt="down" width="101" height="101")
        p.promo__text 
            | Story Ventures, launched in 2020, is a crypto asset
            |    venture studio that combines fundamental research
            |   with an active involvement approach. We invest in early-stage companies and support them every step of the way.