.promo{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 194px;
    padding-top: 114px;

    @include tablet {
        margin-bottom: 107px;
        padding-top: 76px;
    }

    @include mobile {
        margin-bottom: 13px;
        padding-top: 67px;
    }


    &__box{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include laptop{
            align-items: flex-start;
        }

        @include tablet{
            justify-content: start;
            padding-bottom: 71px;
        }

        @include mobile {
            flex-direction: column-reverse;
            padding-bottom: 28px;
        }
    }

    &__title{
        max-width: 829px;
        font: 700 70px/84px $font-family-syncopate;

        @include tablet{
            font-size: 60px;
            line-height: 72px;
        }

        @include mobile {
            font-size: 30px;
            line-height: 36px;
            text-align: center;
        }
    }

    &__cover{
        position: relative;
        margin-left: 9%;

        &::before{
            position: absolute;
            top: 15px;
            right: -120%;
            width: 654px;
            height: 250px;
            background: rgba(255, 255, 255, 0.06);
            border: 1px solid rgba(255, 255, 255, 0.27);
            border-radius: 5px;
            backdrop-filter: blur(21.5px);
            content: "";
        }

        @include tablet {
            right: -82px;
        }

        @include mobile {
            position: absolute;
            top: -36px;
            width: 180px;
            height: 180px;
            margin-left: 0;

            &::before{
                display: none;
            }
        }
    }

    &__img{
        position: relative;
        top: -3px;
        right: 179px;
        z-index: -3;
        width: 278px;
        height: 278px;

        @include mobile {
            position: absolute;
            top: -133px;
            right: -1%;
            width: 180px;
            height: 180px;
        }
    }

    &__bg{
        position: absolute;
        top: -64px;
        right: -331px;
        z-index: -4;

        @include tablet {
            top: -38px;
            right: -121px;
            width: 594px;
            height: 500px;
        }

        @include mobile {
            top: -95px;
            left: -61%;
            width: 353px;
            height: 298px;
        }
    }

    &__link{
        display: block;
        width: 243px;
        margin-bottom: 72px;
        padding: 58px 0;
        
        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }

    &__link-title{
        position: relative;
        display: block;
        font: 600 20px/24px $font-family-raleway;
        text-align: right;
        vertical-align: bottom;
        opacity: 0.5;
        transition: 0.3s;

        &:hover{
            opacity: 1;
            transition: 0.3s;
        }

        &::before{
            position: absolute;
            top: -32px;
            left: 80px;
            width: 150px;
            height: 150px;
            background: url("../assets/img/promo/Ellipse\ 278.png") no-repeat;
            content: "";
        }

        &::after{
            position: absolute;
            left: 10px;
            transition: 0.3s;
            content: url("../assets/img/promo/Arrow\ 1.png");
        }

        &:hover::after{
            left: 20px;
            transition: 0.3s;
        }

    }

    &__link-to{
        display: none;

        @include tablet{
            display: inline-block;
            max-width: 101px;
        }

        @include mobile{
            display: inline-block;
            max-width: 54px;
            margin-top: 12px;
        }
    }

    &__img-to{
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__text{
        align-self: end;
        max-width: 530px;
        margin-right: 96px;
        font: 400 20px/30px $font-family-raleway;

        @include tablet{
            max-width: 481px;
            margin-right: 0;
            margin-left: 29px;
            font-size: 18px;
            line-height: 27px;
        }

        @include mobile {
            align-self: center;
            margin: 0;
            font-size: 15px;
            line-height: 22px;
            opacity: 0.7;
        }
    }

}

.bounce-1 {
    transform-origin: bottom;
    animation-name: bounce-1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}