section.about
    h3.about__title about us
    .about__container
        img.about__bg-net(src="../assets/img/net.svg", alt="")
        .about__bg
        p.about__text
            |We believe that blockchain technology will be the element disrupting almost all industries across the globe in the near future. For us, people are just as important as the project. We look at new investment opportunities through a founder, technical, and business perspective – analyzing the market and technology fit.
        span.about__text-bold What’s your story?
        img.about__img(src="../assets/img/about/Group 464.png", alt="ellipse" width="333" height="333")