section.about 
    .about__container 
        .about__wrapper
            img.about__img(src="../assets/img/about/about-1.jpg", alt="")
            .about__info 
                .about__mb-15
                    .about__title.title-lato-27
                        | Монетизируйте свою клиентскую базу по максимуму
                .about__mb-66
                    p.about__text.text-manrope-17 
                        | Предлагать своим клиентам услуги топовой
                        |компании одинаково выгодно и вам, и клиентам
                +btn("btn_big", "Стать партнером", "#")
        .about__wrapper
            img.about__img(src="../assets/img/about/about-2.jpg", alt="")
            .about__info.about__info_pos
                .about__mb-15
                    .about__title.about__title_width.title-lato-27
                        | Клиенты скажут вам 
                        |спасибо за рекомендацию
                .about__mb-66
                    p.about__text.about__text_width.text-manrope-17 
                        | За 11 лет работы мы выполнили более 10 000 проектов и можем  гарантировать, что клиенты останутся довольны нашей работой и будут вам благодарны
                +btn("btn_big", "Стать партнером", "#")
        .about__wrapper
            img.about__img(src="../assets/img/about/about-3.jpg", alt="")
            .about__info 
                .about__mb-15
                    .about__title.title-lato-27
                        | Высокий уровень дополнительного дохода
                .about__mb-66
                    p.about__text.about__text_width.text-manrope-17 
                        | Благодаря среднему чеку ремонтных работ в 1 млн. ₽, ваш основной доход вырастит в 1.5 - 2 раза за счёт агентских выплат за каждого клиента, пришедшего по вашей рекомендации
                +btn("btn_big", "Стать партнером", "#")