.about {
    padding: 6.8em 19em;

    @include tablet {
        margin-bottom: -3em;
        padding: 10.62em 18.23em;
    }

    @include mobile {
        margin-bottom: 16.5vw;
        padding: 0 5.362vw;
    }

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 2.86em;

        @include tablet {
            display: flex;
            flex-direction: column;
            row-gap: 2.6em;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        background: $white;

        @include tablet {
            flex-direction: column-reverse;

            padding: 2.5em 4.37em;
        }

        @include mobile {
            flex-direction: column-reverse;
            padding: 6.16vw 3.75vw 6.7vw 3.75vw;
        }
    }

    &__img {
        width: 29.69em;
        height: 17.45em;

        @include tablet {
            width: 54.89em;
            height: 32.5em;
        }

        @include mobile {
            width: 80.96vw;
            height: 47.72vw;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        padding: 1.98em 0 1.98em 2.08em;
        background: $white;

        &_pos {
            order: -1;

            @include tablet {
                order: 1;
            }

            @include mobile {
                order: 1;
            }
        }

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            padding-bottom: 3.65em;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            padding-bottom: 8vw;
        }
    }

    &__mb-15 {
        margin-bottom: 0.78em;

        @include tablet {
            margin-bottom: 1.56em ;
        }

        @include mobile {
            margin-bottom: 3.75vw;
        }
    }

    &__title {
        max-width: 14.83em;

        &_width {
            max-width: 13em;

            @include tablet {
                max-width: 13em;
            }

            @include mobile {
                max-width: 13em;
            }
        }

        @include tablet {
            text-align: center;
        }

        @include mobile {
            text-align: center;
        }
    }

    &__mb-66 {
        margin-bottom: auto;

        @include tablet {
            margin-bottom: 3.12em;
        }

        @include mobile {
            margin-bottom: 8vw;
        }
    }

    &__text {
        max-width: 31em;

        @include tablet {
            text-align: center;
        }

        @include mobile {
            text-align: center;
        }

        &_width {
            max-width: 32em;

            @include tablet {
                max-width: 25em;
            }
        }
    }
}
