.test 
    .test__container
        .test__wrap
            ul.test__list
                li.test__item
                    a.test__link.title-link.js-link(href="#about") About
                li.test__item
                    a.test__link.title-link.js-link(href="#investment") Projects
                li.test__item
                    a.test__link.title-link.js-link(href="#construct") Philosophy
                li.test__item
                    a.test__link.title-link.js-link(href="#contact") Contacts
                li.test__item
                    a.test__link.title-link.js-link(href="#twitter") twitter
            .nav-icon
                span.nav-line
                span.nav-line
                span.nav-line
                span.nav-line
.popup
    .popup__body 
        .popup__content
            nav.popup__nav
                ul.popup__list
                    li.popup__item
                        a.popup__link.title-link.js-link(href="#about") About
                    li.popup__item
                        a.popup__link.title-link.js-link(href="#investment") Projects
                    li.popup__item
                        a.popup__link.title-link.js-link(href="#construct") Philosophy
                    li.popup__item
                        a.popup__link.title-link.js-link(href="#contact") Contacts
                    li.popup__item
                        a.popup__link.title-link.js-link(href="#") twitter


