.test {
    height: 300vh;
    padding: 10em;
    background: #000;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 5em;
    }
}

.title-link {
    color: #fff;
    font-size: 40px;
    font-family: serif;
    line-height: 130%;
}

/* Icon 3 */

.nav-icon {
    position: relative;
    z-index: 99999;
    width: 6.4vw;
    height: 6.4vw;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.nav-line {
    position: absolute;
    left: 0.8vw;
    z-index: 99999;
    display: block;
    width: 100%;
    height: 0.533vw;
    background: $white;
    border-radius: 9px;
    transition: 0.25s ease-in-out;
}

.nav-line:nth-child(1) {
    top: 1.6vw;
}

.nav-line:nth-child(2),
.nav-line:nth-child(3) {
    top: 3.2vw;
}

.nav-line:nth-child(4) {
    top: 4.8vw;
}

.open .nav-line:nth-child(1) {
    top: 3.2vw;
    left: 50%;
    width: 0%;
}

.open .nav-line:nth-child(2) {
    transform: rotate(45deg);
}

.open .nav-line:nth-child(3) {
    transform: rotate(-45deg);
}

.open .nav-line:nth-child(4) {
    top: 18px;
    left: 50%;
    width: 0%;
}

// popup

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-x: hidden; // убираем горизонтальный скролл
    overflow-y: auto; //чтобы появлялся скролл, когда много текста
    background-color: rgb(9, 115, 208);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease 0s;

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        padding: 30px 10px;
    }

    &__content {
        position: relative;
        width: 800px;
        height: 500px;
        padding: 30px;
        transform: translate(0px, -100%);
        opacity: 0;
        transition: all 0.4s ease 0s;
    }

    &__nav {
        height: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__link {
        color: #fff;
    }
}

.is-close {
    visibility: hidden;
    opacity: 0;
}

.is-open {
    visibility: visible;
    opacity: 1;

    .popup__content {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.body-lock {
    overflow: hidden;
}
