section.trust 
    .container__trust 
        h2.trust__title.h2
            |Почему нам доверяют 450 компаний Москвы
        .trust__subtitle 
            | DOMEO - одна из ведущих компаний по дизайну и ремонту квартир в Москве
        .trust__wrap 
            .trust__items
                .trust__item
                    span.trust__item-text.trust__item-text--bold
                        |10.000+
                    span.trust__text
                        | реализованных проектов за 11 лет успешной работы
                .trust__item
                    span.trust__item-text.trust__item-text--bold
                        |3
                    span.trust__text
                        | города: Москва, Санкт-Петербург, Сочи
                .trust__item
                    span.trust__item-text.trust__item-text--bold
                        |ТОП-3
                    span.trust__text
                        | компаний по ремонту и дизайну в Москве
                .trust__item
                    span.trust__item-text.trust__item-text--bold
                        |328
                    span.trust__text
                        | проверенных партнеров-поставщиков
                .trust__item
                    span.trust__item-text.trust__item-text--bold
                        |25
                    span.trust__text
                        | лидирующих застройщиков Москвы - наши партнеры
            .trust__video
            .trust-rating
                img.trust-ratig__img(src="../assets/img/trust/trust-1.png", alt="")
                img.trust-ratig__img(src="../assets/img/trust/trust-2.png", alt="")
                img.trust-ratig__img(src="../assets/img/trust/trust-3.png", alt="")
                img.trust-ratig__img(src="../assets/img/trust/trust-4.png", alt="")