.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 104px;

    @include tablet {
        margin-bottom: 70px;
    }

    @include mobile {
        margin-bottom: 45px;
    }

    &__title{
        margin-bottom: 40px;
        font: 700 60px/63px $font-family-syncopate;
        text-align: center;

        @include tablet{
            margin-bottom: 30px;
            font-size: 50px;
            line-height: 52px;
        }

        @include mobile {
            margin-bottom: 25px;
            font-size: 25px;
            line-height: 26px;
        }
    }

    &__text{
        font: 300 15px/22px $font-family-raleway;
    }

    &__link{
        margin-bottom: 25px;
        font: 500 26px/39px $font-family-raleway;

        @include mobile{
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__img-bg{
        position: absolute;
        top: -228px;
        left: -20px;
        z-index: -1;

        @include tablet{
            top: -155px;
            left: 0;
            width: 594px;
            height: 500px;
        }

        @include mobile{
            top: 139px;
            left: -33px;
            width: 230px;
            height: 194px;
        }
    }
}