section.contact
    h3.contact__title
        | Contact US
    p.contact__text
        | Email
    a.contact__link.link__underline(href="mailto:hello@storyvc.co")
        | hello@storyvc.co
    p.contact__text
        | Twitter
    a.contact__link.link__underline(href="https://twitter.com/story_ventures" target="_blank")
        | story_ventures
    img.contact__img-bg(src="../assets/img/net.svg", alt="")