section.customers 
    .customers__container
        .customers__mb-34
            h2.customers__title.h2
                | Гарантируем высокое качество для ваших клиентов
        .customers__wrap
            .customers__item
                .customers__body.customers__body--1
                    .customers__num 
                        .title-manrope.customers__num-manrope
                            | 1
                    .customers__text.text-manrope-17.fw-500
                        |Единственные в России оцениваем компетенции 
                        |мастеров под эгидой World Skills Russia 
                img.customers__img.customers__img--1(src="../assets/img/customers/1.png", alt="")
            .customers__item
                .customers__body.customers__body--2
                    .customers__num 
                        .title-manrope.customers__num-manrope 
                            | 2
                    .customers__text.text-manrope-17.fw-500
                        |Все сотрудники проходят жесткий отбор по компетенциям, 
                        |опыту работы и проф.образованию
                img.customers__img.customers__img--2(src="../assets/img/customers/2.png", alt="")
            .customers__item
                .customers__body.customers__body--3
                    .customers__num 
                        .title-manrope.customers__num-manrope 
                            | 3
                    .customers__text.text-manrope-17.fw-500
                        |Официальные партнеры AFI DEVELOPMENT, 
                        |Сбер.Домклик, ВТБ м2, MR Group и др.
                img.customers__img.customers__img--3(src="../assets/img/customers/3.png", alt="")
            .customers__item
                .customers__body.customers__body--4 
                    .customers__num 
                        .title-manrope.customers__num-manrope 
                            | 4
                    .customers__text.text-manrope-17.fw-500
                        |Прорабы и мастера сертифицированы Knauf, 
                        |Rehau, Tikkurila и др.
                img.customers__img.customers__img--4(src="../assets/img/customers/4.png", alt="")
            .customers__item
                .customers__body.customers__body--5 
                    .customers__num 
                        .title-manrope.customers__num-manrope 
                            | 5
                    .customers__text.text-manrope-17.fw-500
                        |Готовы показать любой из 100+ объектов, 
                        |которые сейчас в работе
                img.customers__img.customers__img--5(src="../assets/img/customers/5.png", alt="")
        +btn("btn_big", "Стать партнером", "#")
