section.join
    .join__container 
        .join-mb-43
            h2.join__title.h2
                |Подключитесь к самой выгодной партнерской программе на рынке строительных услуг
        .join__wrap 
            .join__item 
                .join__box.join__box--1
                    .join-mb-15
                        img.join__img-icon(src="../assets/img/join/join-done.svg", alt="")
                        .join__subtitle.title-manrope
                            |Высокое вознаграждение
                    p.join__text.text-manrope-16  
                        | Вы получаете фиксированный процент от суммы по договору. В среднем, сумма ремонта в компании DOMEO составляет 1 млн. ₽
                img.join__img-main(src="../assets/img/join/join-1.svg", alt="")
            .join__item 
                .join__box.join__box--2 
                    .join-mb-15
                        img.join__img-icon(src="../assets/img/join/join-done.svg", alt="")
                        .join__subtitle.title-manrope
                            |Честное сотрудничество
                    p.join__text.text-manrope-16  
                        | Личный кабинет синхронизируется с CRM-системой, вы будете видеть каждый шаг клиента и его сумму по договору
                img.join__img-main(src="../assets/img/join/join-2.svg", alt="")
            .join__item 
                .join__box.join__box--3 
                    .join-mb-15
                        img.join__img-icon(src="../assets/img/join/join-done.svg", alt="")
                        .join__subtitle.title-manrope
                            |Понятный интерфейс
                    p.join__text.text-manrope-16  
                        | Разобраться в личном кабинете не составит труда, отправка контактов клиента займет у вас всего 1 минуту
                img.join__img-main(src="../assets/img/join/join-3.svg", alt="")
            .join__item
                .join__box.join__box--4 
                    .join-mb-15
                        img.join__img-icon(src="../assets/img/join/join-done.svg", alt="")
                        .join__subtitle.title-manrope
                            |Личный менеджер
                    p.join__text.text-manrope-16  
                        | К вам будет прикреплен личный менеджер, который и в мессенджерах, и по телефону ответит на любые ваши вопросы 24/7
                img.join__img-main(src="../assets/img/join/join-4.svg", alt="")
            .join__item.join__item--5
                .join__box.join__box--5 
                    .join-mb-15
                        img.join__img-icon(src="../assets/img/join/join-done.svg", alt="")
                        .join__subtitle.title-manrope
                            |Выплаты быстро и удобно 
                    p.join__text.text-manrope-16  
                        | Выводите свое вознаграждение от любой суммы и в любое время, когда вам удобно
                img.join__img-main(src="../assets/img/join/join-5.svg", alt="")
            .join__item.join__item--6 
                .join__box.join__box--6 
                    .join-mb-15
                        img.join__img-icon.join__img-icon--pos(src="../assets/img/join/join-done.svg", alt="")
                        .join__subtitle.title-manrope
                            |Работаем с самозанятыми, ИП и другими
                    p.join__text.text-manrope-16  
                        | Вывод средств осуществляется на указанные в личном кабинете реквизиты
                img.join__img-main(src="../assets/img/join/join-6.svg", alt="")