// .form {
//     width: 605px;
//     padding: 37px 97px 25px 97px;
//     background: #fff;

//     @include laptop {
//         width: 410px;
//         padding: 45px 15px 19px 25px;
//     }

//     &__title {
//         margin-bottom: 8px;
//         font: 600 20px/27px $font-manrope;
//     }

//     &__text {
//         max-width: 288px;
//         margin-bottom: 22px;
//         color: $gray;
//         font: 300 16px/130% $font-manrope;
//     }

//     &__data {
//         display: flex;
//         flex-direction: column;
//     }

//     &__input {
//         padding: 18px 18px 20px 18px;
//         font: 300 16px/140% $font-manrope;
//         background: #edf1f6;
//         border-radius: 6px;

//         &::placeholder {
//             color: rgba(0, 0, 0, 0.3);
//         }
//     }

//     &__name {
//         margin-bottom: 10px;
//     }

//     &__number {
//         margin-bottom: 15px;
//     }

//     &__btn {
//         margin-bottom: 13px;
//         padding: 18px;
//         color: #462f10;
//         font: 600 17px/23px $font-manrope;
//         background: linear-gradient(0deg, #ffe24d, #ffe24d),
//             linear-gradient(90deg, #ffe86c 0%, #ffcf55 100%);
//         border: 1px solid #eaeaea;
//         border-radius: 5px;
//     }

//     &__policy {
//         max-width: 328px;
//         color: rgba(0, 0, 0, 0.4);
//         font: 300 12px/140% $font-manrope;
//     }
// }
