section.services 
    .services__container 
        .services__mb-45.services__max-850
            h2.services__title.h2 
                |Услуги, по которым вы получаете агентское вознаграждение
        .services__wrap 
            .service.service_pd-1
                img.service__img(src="../assets/img/services/services-1.svg", alt="")
                .service__wrap
                    .service__mb-11
                        .service__title.title-manrope
                            | Ремонт квартиры под ключ
                    p.service__text.text-manrope-16
                        |Полный цикл ремонта квартиры с соблюдением технологий и стандартов ГОСТ и СНИП аттестованными строителями
            .service.service_pd-2
                img.service__img(src="../assets/img/services/services-2.svg", alt="")
                .service__wrap
                    .service__mb-11
                        .service__title.title-manrope
                            | Разработка дизайн-проекта
                    p.service__text.text-manrope-16
                        |Разработка дизайна интерьера в 25 стилях дизайна российскими и западными дизайнерами, лучшими выпускниками МАРХИ и БВШД
            .service.service_pd-3
                img.service__img(src="../assets/img/services/services-3.svg", alt="")
                .service__wrap
                    .service__mb-11
                        .service__title.title-manrope
                            | Приемка квартир от застройщика
                    p.service__text.text-manrope-16
                        |Осмотр квартиры, составление отчета и дефектной ведомости по 350 параметрам официальными представителями крупнейших брендов
            .service.service_pd-4
                img.service__img(src="../assets/img/services/services-4.svg", alt="")
                .service__wrap
                    .service__mb-11
                        .service__title.title-manrope
                            | Согласование перепланировки
                    p.service__text.text-manrope-16
                        |Подготовка проекта перепланировки, сбор документов, получение разрешения, внесения изменений в ЕГРП
            .service.service_pd-5
                img.service__img(src="../assets/img/services/services-5.svg", alt="")
                .service__wrap
                    .service__mb-11
                        .service__title.title-manrope
                            | Комплектация предметами искусства
                    p.service__text.text-manrope-16
                        |Дополним неповторимый стиль квартиры качественной интерьерной живописью из закрытой online галереи предметов искусства
            .service.service_pd-6 
                img.service__img(src="../assets/img/services/services-6.svg", alt="")
                .service__wrap
                    .service__mb-11
                        .service__title.title-manrope
                            | Вентиляция и кондиционирование
                    p.service__text.text-manrope-16
                        |Проектирование и монтаж сплит-систем согласно стандартам ГОСТ
