.partner__slider
    .swiper.partner__swiper.swiper-partner-js    
        .swiper-wrapper.partner__swiper-wrapper  
            .swiper-slide.partner__swiper-slide 
                img.partner__slide-img(src="../../assets/img/partner/slider/1.png", alt="")
            .swiper-slide.partner__swiper-slide 
                img.partner__slide-img(src="../../assets/img/partner/slider/2.png", alt="")
            .swiper-slide.partner__swiper-slide 
                img.partner__slide-img(src="../../assets/img/partner/slider/3.png", alt="")
            .swiper-slide.partner__swiper-slide 
                img.partner__slide-img(src="../../assets/img/partner/slider/4.png", alt="")
            .swiper-slide.partner__swiper-slide 
                img.partner__slide-img(src="../../assets/img/partner/slider/5.png", alt="")
            .swiper-slide.partner__swiper-slide 
                img.partner__slide-img(src="../../assets/img/partner/slider/6.png", alt="")
            .swiper-slide.partner__swiper-slide 
                img.partner__slide-img(src="../../assets/img/partner/slider/7.png", alt="")