section.partner 
    .partner__container
        .partner__mb-30
            h2.partner__title.h2
                |Нам доверяют 
        .partner__wrap  
            img.partner__img(src="../assets/img/partner/1.png", alt="")
            img.partner__img(src="../assets/img/partner/2.png", alt="")
            img.partner__img(src="../assets/img/partner/3.png", alt="")
            img.partner__img(src="../assets/img/partner/4.png", alt="")
            img.partner__img(src="../assets/img/partner/5.png", alt="")
            img.partner__img(src="../assets/img/partner/6.png", alt="")
            img.partner__img(src="../assets/img/partner/7.png", alt="")
            img.partner__img(src="../assets/img/partner/8.png", alt="")
            img.partner__img(src="../assets/img/partner/9.png", alt="")
            img.partner__img(src="../assets/img/partner/10.png", alt="")
            img.partner__img(src="../assets/img/partner/11.png", alt="")
            img.partner__img(src="../assets/img/partner/12.png", alt="")
            img.partner__img(src="../assets/img/partner/13.png", alt="")
            img.partner__img(src="../assets/img/partner/14.png", alt="")
            img.partner__img(src="../assets/img/partner/15.png", alt="")
    include partner-slider