section.payout 
    .payout__container
        .payout__mb-30
            h2.payout__title.h2
                |Посмотрите статистику выплат лучших партнеров
        img.payout__img(src="../assets/img/payout/1.png", alt="")
        .payout__wrap   
            p.payout__text
                |С нами уже зарабатывает 
                |#[span(class="fw-700") 324 партнера,] 
                |присоединяйтесь!
            +btn("btn_big", "Зарегистрироваться", "#")