section.comment 
    .comment__container
        .comment__mb-30
            h2.comment__title.h2
                |Отзывы наших партнеров
        .comment__wrap
            .comment__card
                img.comment__img(src="../assets/img/comment/1.png", alt="")
                .comment__body 
                    .comment__body-title.title-manrope 
                        |Анна
                    .comment__mb-22
                        .comment__body-subtitle.text-manrope-15
                            |частный дизайнер интерьеров
                    .comment__text.text-manrope-16 
                        |Я дизайнер, самозанятый специалист. 
                        |Давно искала партнеров, кому можно было 
                        |передавать клиентов, которые заказывают у меня дизайны... 
                    .comment__footer    
                        a.comment__link.js-popup-link(href="#popup_1")
                            .comment__link-text.text-manrope-16.fw-600     
                                |Читать полностью
                            +svgIcon(15,15,"icon-arrow","#59A5FF")
            .comment__card
                img.comment__img(src="../assets/img/comment/2.png", alt="")
                .comment__body.comment__body--pd
                    .comment__body-title.title-manrope 
                        |Дмитрий
                    .comment__mb-22
                        .comment__body-subtitle.text-manrope-15
                            |агент недвижимости
                    .comment__text.text-manrope-16 
                        |Часто, когда человек сталкивается с покупкой новой квартиры 
                        |(будь то вторичка или квартира в новостройке - не важно) 
                        |он хочет сделать... 
                    .comment__footer    
                        a.comment__link.js-popup-link(href="#popup_2")
                            .comment__link-text.text-manrope-16.fw-600     
                                |Читать полностью
                            +svgIcon(15,15,"icon-arrow","#59A5FF")
            .comment__card
                img.comment__img(src="../assets/img/comment/3.png", alt="")
                .comment__body 
                    .comment__body-title.title-manrope 
                        |Дарья
                    .comment__mb-22
                        .comment__body-subtitle.text-manrope-15
                            |брокер недвижимости
                    .comment__text.text-manrope-16 
                        |Наше агентство занимается преимущественно новостройками, 
                        |вторичку стараемся не брать, так как с ней много мороки, 
                        |да и ставки по ипотеке... 

                    .comment__footer    
                        a.comment__link.js-popup-link(href="#popup_3")
                            .comment__link-text.text-manrope-16.fw-600     
                                |Читать полностью
                            +svgIcon(15,15,"icon-arrow","#59A5FF")
            .comment__card
                img.comment__img.comment__img--pos(src="../assets/img/comment/4.png", alt="")
                .comment__body.comment__body--pd
                    .comment__body-title.title-manrope 
                        |Надежда
                    .comment__mb-22
                        .comment__body-subtitle.text-manrope-15
                            |дизайнер интерьеров
                    .comment__text.text-manrope-16 
                        |У нас отличная небольшая дизайн-студия, 
                        |которая только-только начинает свой путь и 
                        |поиск своих клиентов, мы наращиваем обороты и клиентскую... 
                    .comment__footer    
                        a.comment__link.js-popup-link(href="#popup_4")
                            .comment__link-text.text-manrope-16.fw-600     
                                |Читать полностью
                            +svgIcon(15,15,"icon-arrow","#59A5FF")