.popup#popup_1
    .popup__body 
        .popup__content
            a.popup__close.js-popup__close(href="#")
                +svgIcon(15,15,"icon-close","")
            .popup__header 
                img.popup__img(src="../assets/img/comment/ava-1.png", alt="")
                .popup__wrap
                    .popup__title.title-manrope
                        | Анна
                    .popup__subtitle.text-manrope-18     
                        | частный дизайнер интерьеров
            .popup__container
                p.popup__text.text-manrope-18 
                    |Я дизайнер, самозанятый специалист. 
                    |Давно искала партнеров, кому можно было передавать клиентов, 
                    |которые заказывают у меня дизайны. При этом, чтобы потом не пришлось 
                    |краснеть, за результат ремонта.
                p.popup__text.text-manrope-18 
                    |С Domeo провела уже трех клиентов, делала им дизайн, и уже по моему 
                    |проекту компания делала ремонт. Ремонты были сложные и замудренные, 
                    |включали перепланировку, черновые работы с нуля. Честно сказать, очень переживала с 
                    |первым клиентом, когда ему демонтировали стяжку и укладывали коммуникации и дополнительную 
                    |разводку в пол, но все прошло хорошо. Ремонт компания делает долго, но основательно и 
                    |всегда готовы отвечать за результат.
                p.popup__text.text-manrope-18 
                    |Впечатления отличные, очень профессиональные бригады, 
                    |знающие как сделать перегородки, встроенные ниши и скрытые крепления. Прорабы всегда на 
                    |связи и адекватно реагируют на изменения проекта, или дополнения, которые возникают в 
                    |ходе работы.
                p.popup__text.text-manrope-18 
                    |Партнерская программа компании для меня – еще один способ заработать, 
                    |для начинающего дизайнера, это очень важно. Не мало важный плюс, что когда вешаешь 
                    |на своем сайте и в профиле соцсетях логотип партнерства и все видят, с какой компанией я 
                    |работаю – это увеличивает и стоимость моих услуг и доверие ко мне, как к профессионалу. 
                    |Выплаты бонусов всегда вовремя, без задержек, без комиссии. Очень удобно и просто. Коллеги, 
                    |всегда готовы прийти на помощь и помочь советом. Рекомендую для начинающих дизайнеров 
                    |интерьера, приятное подспорье в нелегком карьерном пути к успеху) Репутация у компании 
                    |хорошая, поэтому здорово иметь таких крупных партнеров.
.popup#popup_2
    .popup__body 
        .popup__content
            a.popup__close.js-popup__close(href="#")
                +svgIcon(15,15,"icon-close","")
            .popup__header 
                img.popup__img(src="../assets/img/comment/ava-2.png", alt="")
                .popup__wrap
                    .popup__title.title-manrope
                        | Дмитрий
                    .popup__subtitle.text-manrope-18    
                        | агент недвижимости
            .popup__container
                p.popup__text.text-manrope-18
                    |Часто, когда человек сталкивается с покупкой новой 
                    |квартиры (будь то вторичка или квартира в новостройке - не важно) 
                    |он хочет сделать в квартире ремонт под себя, сделать идеальный вариант квартиры. 
                    |Начиная от дизайна, заканчивая закупкой мебели.
                p.popup__text.text-manrope-18
                    |Большое количество клиентов постоянно спрашивает рекомендации, 
                    |ранее мы просто отправляли людей в интернет, так как не с кем не партнерились. 
                    |Да и чтоб рекомендовать кого-то, нужно быть уверенным в компании на все 100%, 
                    |так как в случае каких-то недоделок, недовольный клиент придет к тебе, и будет 
                    |распространять слухи о тебе, что мол подсунул жуликов на ремонт. Поэтому прежде 
                    |чем заключить партнерский договор, мы проверяли компанию, посмотрели ее работы, 
                    |побывали в отремонтированной квартире и смотрели, как работают сотрудники Domeo. 
                    |Нареканий к их бизнес-процессам и качеству работы у нас нет.
                p.popup__text.text-manrope-18
                    |Мы рекомендуем дизайнеров и ремонтные бригады Domeo. Во-первых, мы уверены в 
                    |качестве их работ, не было еще ни одного недовольного клиента. Во-вторых, это 
                    |наш отличный инструмент продаж, что наши покупатели квартир получают не только 
                    |продажное обслуживание, но и послепродажное, когда наши партнеры делают ремонт в 
                    |купленной квартире. Такое партнерство выгодно отличает нас от конкурентов, так как 
                    |получается, что через нас можно заказать полный спектр услуг по недвижимости. Также отмечу, 
                    |что бонусы за приведенных клиентов, выплачивается сразу, а размер зависит от суммы контракта. 
                    |Отличный сервис, отличные ремонты, всем выгодно и приятно.
.popup#popup_3
    .popup__body 
        .popup__content
            a.popup__close.js-popup__close(href="#")
                +svgIcon(15,15,"icon-close","")
            .popup__header 
                img.popup__img(src="../assets/img/comment/ava-3.png", alt="")
                .popup__wrap
                    .popup__title.title-manrope
                        | Дарья
                    .popup__subtitle.text-manrope-18    
                        | брокер недвижимости
            .popup__container
                p.popup__text.text-manrope-18
                    |Наше агентство занимается преимущественно новостройками, 
                    |вторичку стараемся не брать, так как с ней много мороки, 
                    |да и ставки по ипотеке на первичку гораздо меньше. Новостройки, в 
                    |большинстве своем продаются в бетоне.
                p.popup__text.text-manrope-18
                    |Большой поток клиентов, которые предпочитают брать жилье уже на 
                    |этапе сдачи, есть квартиры по переуступкам или даже по ДКП, т.е. 
                    |когда дом уже построен и застройщик продает уже готовые квартиры. 
                    |Стоит отметить, что большинство застройщиков сдают квартиры не то, что без 
                    |отделки, даже без стен и стяжки, типа свободная планировка, а вся инженерия 
                    |заведена только до щитка. Поэтому покупатели квартир часто сталкиваются с вопросами: 
                    |как это все проверить, что работает и как обустроить все, чтобы нормально жить. 
                    |Поэтому партнерская программа тут как нельзя кстати Партнер надёжный, крупный игрок 
                    |на рынке ремонтных услуг, имеет огромный штат и экспертизу.
                p.popup__text.text-manrope-18
                    |Нам важно, в свою очередь важно, чтобы клиенты чувствовали, что мы заинтересованы 
                    |в них, что мы не втюхиваем им то, за что нам платят застройщики, а мы реально на 
                    |стороне клиента и всегда готовы их поддержать. И нам в этом помогает наш партнер Domeo. 
                    |Мы часто рекомендуем, когда речь заходит о приемке квартир от застройщика и ремонте. 
                    |Эти партнерские отношения расширяют услуги, которые мы можем предоставить нашим клиентам. 
                    |Что в свою очередь двигает и наши продажи. А партнерские вознаграждения за рекомендации 
                    |и заключенные договоры - приятный бизнес-бонус. Советую попробовать, ведь вы все равно 
                    |ничего не теряете.
.popup#popup_4
    .popup__body 
        .popup__content
            a.popup__close.js-popup__close(href="#")
                +svgIcon(15,15,"icon-close","")
            .popup__header 
                img.popup__img(src="../assets/img/comment/ava-4.png", alt="")
                .popup__wrap
                    .popup__title.title-manrope
                        | Надежда
                    .popup__subtitle.text-manrope-18    
                        | дизайнер интерьеров
            .popup__container
                p.popup__text.text-manrope-18
                    |У нас отличная небольшая дизайн-студия, которая только-только 
                    |начинает свой путь и поиск своих клиентов, мы наращиваем обороты 
                    |и клиентскую базу. Несмотря, на то, что мы в большей степени конкуренты 
                    |с компанией по дизайну, нас связывают и партнерские отношения.
                p.popup__text.text-manrope-18
                    |Часто обращаемся в компанию Domeo за помощью в перепланировке(согласование) и в 
                    |ремонте. Совсем недавно попробовали у них услугу “Комплектация предметами 
                    |искусства” - и мы и клиент остался очень довольны, для студий дизайна - 
                    |есть партнерская скидка и приятный бонус.
                p.popup__text.text-manrope-18
                    |Для нас важно, сейчас на моменте старта как можно больше показать 
                    |клиентоориентированность и оказывать максимальный сервис для наших клиентов. 
                    |Так они рекомендуют нас и мы наращиваем обороты. Более того, партнерская программа 
                    |дает возможность дополнительного заработка, на рекомендациях и на заказе услуг. 
                    |Так, как мы уже говорили, с услуги «Комплектация предметами искусства» для загородного 
                    |дома заказчика, мы смогли получить бонус порядка 150 тыс. – это весомый и приятный 
                    |момент совместной работы.
                p.popup__text.text-manrope-18
                    |Помимо предметов искусства, компания обладает большой экспертизой в областях, 
                    |без которых в современном дизайне не обойтись: это и согласование перепланировок, 
                    |и ремонт, и комплектация мебелью и декором, и, конечно, сам ремонт – все виды работ 
                    |от чернухи, до чистовой отделки, особенно можно обратить внимание на электрику и 
                    |сантехнику (так как разводка освещения и розеток крайне важна, инженерия – это вообще 
                    |самое дорогое в ремонте) и декор и облицовку.

