section.work
    .work__container
        .work__mb-34
            h2.work__title.h2
                | Как работает партнерская программа
        .work__wrap 
            .work__item
                .work__box.work__box--1
                    img.work__img-num(src="../assets/img/work/work-num-1.svg", alt="")
                    p.work__text.text-manrope-18.fw-600
                        |Вы проходите регистрацию и верификацию, далее получаете доступ к личному кабинету
                img.work__img(src="../assets/img/work/work-1.png", alt="")
            .work__item
                .work__box.work__box--2 
                    img.work__img-num(src="../assets/img/work/work-num-2.svg", alt="")
                    p.work__text.text-manrope-18.fw-600
                        |Рекомендуете своим клиентам заказать ремонтные услуги у Domeo
                img.work__img.work__img--huge(src="../assets/img/work/work-2.png", alt="")
            .work__item
                .work__box.work__box--3 
                    img.work__img-num(src="../assets/img/work/work-num-3.svg", alt="")
                    p.work__text.text-manrope-18.fw-600
                        |Заносите контакт клиента в базу в личном кабинете
                img.work__img(src="../assets/img/work/work-3.png", alt="")
            .work__item
                .work__box.work__box--4 
                    img.work__img-num(src="../assets/img/work/work-num-4.svg", alt="")
                    p.work__text.text-manrope-18.fw-600
                        |Просматриваете в личном кабинете все этапы движения клиента по воронке и все коммуникации с ним
                img.work__img(src="../assets/img/work/work-4.png", alt="")
        .work__item.work__item--long
            .work__box.work__box--5
                img.work__img-num(src="../assets/img/work/work-num-5.svg", alt="")
                p.work__text.text-manrope-18.fw-600
                    |Получаете выплату за каждого клиента, с которым мы заключим договор
            .work__img-wrap
                img.work__img-big.work__img-big--pos(src="../assets/img/work/transaction-1.png", alt="")
                img.work__img-big(src="../assets/img/work/transaction-2.png", alt="")

