section.suit 
    .suit-container 
        .suit__mb-14
            h2.h2 
                |Кому подходит партнерская программа
        .suit__mb-44
            p.suit__text.text-manrope-17
                | Зарабатывайте больше в сфере строительных услуг и недвижимости, предлагая своим клиентам заказать услуги у компании Domeo  
        .suit__items
            .suit__item
                img.suit__img.suit__img_1(src="../assets/img/suit/suit-1.png", alt="")
                .suit__description.text-manrope-18 
                    |Агентствам недвижимости
            .suit__item
                img.suit__img.suit__img_2(src="../assets/img/suit/suit-2.png", alt="")
                .suit__description.text-manrope-18 
                    |Частным риэлторам
            .suit__item
                img.suit__img.suit__img_3(src="../assets/img/suit/suit-3.png", alt="")
                .suit__description.text-manrope-18 
                    |Дизайнерским агентствами
            .suit__item
                img.suit__img.suit__img_4(src="../assets/img/suit/suit-4.png", alt="")
                .suit__description.text-manrope-18.suit__description_wrap
                    |Частным дизайнерам интерьераи