header.header
    .header__container
        .header__box
            a.header__logo-link(href="#")
                img.header__logo(src="../assets/img/header/Group 1968.svg", alt="")
            .header__phone
                | +7 (926) 673-94-72
            a.header__cabinet(href="#") 
                .header__btn 
                    .header__btn-text 
                        | Кабинет партнер
                    +svgIcon(15,15,"cabinet","#59A5FF")





