header.header
    .header-top
        .header__wrap
            a.header__logo-link(href="#")
                img.header__logo(src="../assets/img/header/logo-png.png ", alt="")
            .header__phone-container
                .header__phone.text-manrope-16.fw-600
                    | +7 (926) 673-94-70
            a.header__cabinet(href="#") 
                .header__btn 
                    .header__btn-container
                        .header__btn-text
                            | Кабинет партнера
                    +svgIcon(15,15,"cabinet","#59A5FF")
    .header-btm 
        .header-btm__left
            .header-btm__10
                h1.h1
                    |Партнерская программа Domeo
            .header-btm__25
                .header-btm__subtitle.title-lato-27
                    | — сервиса капитального ремонта квартир
            .header-btm__25.header-btm__24-mobile
                .header-btm__container 
                    img.header-btm__img(src="../assets/img/header/switch.jpg", alt="switch")
                    p.header-btm__text.text-manrope-16
                        | Зарабатывайте с каждого заключенного договора на ремонт по вашей рекомендации
            +btn("", "Стать партнером", "#")
        .header-btm__right
            img.header-btm__img-main(src="../assets/img/header/main.png", alt="main")




