section.construct
    .construct__container
        h3.construct__title 
            |How We Construct
        p.construct__subtitle Our Investment Thesis
        .construct__content 
            .construct__box-info 
                p.construct__text.construct__text_bold
                    | At the core of every investment, we focus on three main fundamental pillars:
                ul.construct__pillars.construct__pillars_mobile
                    li.construct__pillar
                        img.construct__img(src="../assets/img/construct/construct-1.svg" alt="value proposition")
                        p.construct__description
                            | Superior #[br] value proposition
                    li.construct__pillar
                        img.construct__img(src="../assets/img/construct/construct-2.svg" alt="product-market")
                        p.construct__description
                            | Visible #[br] product-market fit
                    li.construct__pillar
                        img.construct__img(src="../assets/img/construct/construct-3.svg" alt="graph")
                        p.construct__description
                            | Clear token #[br] value accrual
                p.construct__text.construct__text_pos
                    | Our focus and expertise in applying fundamental analysis to crypto-assets separate us from the rest. We adopt an active approach and partner with teams to bootstrap necessary network effects for them to scale.
                p.construct__text
                    | At the same time, we provide invaluable thought leadership and guidance on critical aspects such as token economics, governance scaling, marketing, and community building.
            .construct__box
                ul.construct__pillars
                    li.construct__pillar
                        img.construct__img(src="../assets/img/construct/construct-1.svg" alt="value proposition")
                        p.construct__description
                            | Superior #[br] value proposition
                    li.construct__pillar
                        img.construct__img(src="../assets/img/construct/construct-2.svg" alt="product-market")
                        p.construct__description
                            | Visible #[br] product-market fit
                    li.construct__pillar
                        img.construct__img(src="../assets/img/construct/construct-3.svg" alt="graph")
                        p.construct__description
                            | Clear token #[br] value accrual
                .construct__info
                    p.construct__info-text.construct__text
                        | We believe investing is more than just a standalone transaction and we are in this for the long term with our founders.
                    img.construct__img-bg(src="../assets/img/construct/Ellipse 280.png", alt="")
                img.construct__net-bg(src="../assets/img/net.svg", alt="")


