.popup
    .popup__body 
        .popup__content
            nav.popup__nav
                ul.popup__list
                    li.popup__item
                        a.popup__link.title-lato-27(href="#about") About
                    li.popup__item
                        a.popup__link.title-lato-27(href="#investment") Projects
                    li.popup__item
                        a.popup__link.title-lato-27(href="#construct") Philosophy
                    li.popup__item
                        a.popup__link.title-lato-27(href="#contact") Contacts
                    li.popup__item
                        a.popup__link.title-lato-27(href="https://twitter.com/story_ventures" target="_blank") twitter

