.popup
    .popup__body 
        .popup__content
            nav.popup__nav
                ul.popup__list
                    li.popup__item
                        a.popup__link(href="#about") About
                    li.popup__item
                        a.popup__link(href="#investment") Projects
                    li.popup__item
                        a.popup__link(href="#construct") Philosophy
                    li.popup__item
                        a.popup__link(href="#contact") Contacts
                    li.popup__item
                        a.popup__link(href="https://twitter.com/story_ventures" target="_blank") twitter

